* {
  box-sizing: border-box;
}
:root {
  --main-color: #10cab7;
  --secondry-color: #2c4755;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 10px;
  font-family: "Alkalami" sans-serif;
}
header {
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header .container img {
  width: 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu {
  position: relative;
}
header .container .menu .icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 30px;
}
header .container .menu .icon span {
  background-color: black;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  transition: all 0.5s;
}
header .container .menu .icon span:nth-child(2) {
  width: 60%;
}
header .container .menu:hover .icon span:nth-child(2) {
  width: 100%;
}
header .container .menu ul {
  list-style: none;
  position: absolute;
  right: 0;
  background-color: #f6f6f6;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  padding: 15px;
}
header .container .menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 20px;
  transition: 0.3s;
  text-align: center;
}
header .container .menu ul li {
  border-bottom: 1px solid #ddd;
}
header .container .menu ul li:nth-child(3) {
  border-bottom: none;
}

header .container .menu ul li a:hover {
  background-color: var(--main-color);
  color: white;
}
header .container .menu ul {
  display: none;
}
header .menu:hover ul {
  display: block;
}
section {
  margin-top: 10px;
  background-image: url("../images/landing.jpg");
  height: calc(100vh - 60px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .intro-text {
  width: 300px;
}
section .intro-text h2 {
  font-weight: 800;
  font-size: 40px;
  color: var(--main-color);
  margin: 0;
}
section .intro-text p {
  color: #333;
  line-height: 1.4;
}
.feature-list {
  padding: 40px 0;
  background-color: #f6f6f6;
}
.feature-list .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}
.feature-list .container i {
  color: var(--main-color);
}
.feature-list .container h3 {
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
.feature-list .container p {
  color: #333;
  line-height: 1.4;
  font-size: 18px;
}
.services {
  text-align: center;
  margin: 50px 0;
}
.services h1 {
  color: #ebeced;
  font-size: 100px;
  margin: 0;
  font-weight: 800;
}
.services .label {
  margin-top: -35px;
  color: #797979;
  font-size: 20px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding-top: 50px;
}
.services .services-content .srv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .services-content .srv h3 {
  margin: 0;
  padding: 0;
}
.services .services-content .srv i {
  padding-right: 20px;
  color: var(--main-color);
}
.services .services-content .srv p {
  text-align: start;
  color: #797979;
  line-height: 1.4;
}
.services .services-content .image {
  position: relative;
}
.services .services-content img {
  width: 250px;
}
.services-content .image::before {
  content: "";
  position: absolute;
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  background-color: var(--secondry-color);
  right: 0;
  z-index: -1;
}
@media (max-width: 762px) {
  .image {
    display: none;
  }
}
.portfolio {
  text-align: center;
  margin: 90px 0;
  background-color: #f6f6f6;
  padding: 40px 0;
}
.portfolio h1 {
  color: #ebeced;
  font-size: 100px;
  margin: 0;
  font-weight: 800;
}
.portfolio p {
  margin-top: -35px;
  color: #797979;
  font-size: 20px;
}
@media (max-width: 762px) {
  .portfolio .portfolio-content h1,
  .services .services-content h1 {
    font-size: 80px;
  }
  .portfolio-content .label {
    margin-top: 40px;
  }
}
.portfolio-content {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}
.portfolio-content .card img {
  width: 100%;
}
.portfolio-content .card {
  background-color: white;
  text-align: start;
}
.portfolio-content h2 {
  padding: 15px 10px;
}
.portfolio-content p {
  padding: 15px 10px;
  font-weight: 300;
}
.about {
  text-align: center;
  padding: 50px 0;
}
.about h2 {
  color: #ebeced;
  font-size: 100px;
  margin: 0;
  font-weight: 800;
}
.about p {
  margin-top: -35px;
  color: #797979;
  font-size: 20px;
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -5;
}
.about .about-content .image::after {
  content: "";
  top: -40px;
  position: absolute;
  width: 120px;
  height: 80%;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -6;
  right: -160px;
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
  /* width: calc(100% - 500px); */
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 20px;
}

.about .about-content .text p:last-of-type {
  line-height: 1.5;
  color: #777;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about-content img {
    margin: 15px 10px;
  }
}
